<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloPharmacy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCustomer</display-name>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>com.customer.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>com.connection.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCustomer</display-name>
    <servlet-name>RemoveCustomer</servlet-name>
    <servlet-class>com.customer.RemoveCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCustomer</servlet-name>
    <url-pattern>/RemoveCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCustomer</display-name>
    <servlet-name>DisplayCustomer</servlet-name>
    <servlet-class>com.customer.DisplayCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCustomer</servlet-name>
    <url-pattern>/DisplayCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.customer.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomer</display-name>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>com.connection.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.admin.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogout</display-name>
    <servlet-name>CustomerLogout</servlet-name>
    <servlet-class>com.customer.CustomerLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogout</servlet-name>
    <url-pattern>/CustomerLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.product.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.product.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProduct</display-name>
    <servlet-name>DisplayProduct</servlet-name>
    <servlet-class>com.Product.DisplayProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProduct</servlet-name>
    <url-pattern>/DisplayProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllProduct</display-name>
    <servlet-name>GetAllProduct</servlet-name>
    <servlet-class>com.product.GetAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProduct</servlet-name>
    <url-pattern>/GetAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAyurvedic</display-name>
    <servlet-name>AddAyurvedic</servlet-name>
    <servlet-class>com.shopping.AddAyurvedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAyurvedic</servlet-name>
    <url-pattern>/AddAyurvedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServ</display-name>
    <servlet-name>AddToCartServ</servlet-name>
    <servlet-class>com.shopping.AddToCartServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServ</servlet-name>
    <url-pattern>/AddToCartServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServ</display-name>
    <servlet-name>EditServ</servlet-name>
    <servlet-class>com.shopping.EditServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServ</servlet-name>
    <url-pattern>/EditServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveServ</display-name>
    <servlet-name>RemoveServ</servlet-name>
    <servlet-class>com.shopping.RemoveServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServ</servlet-name>
    <url-pattern>/RemoveServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServ</display-name>
    <servlet-name>CheckOutServ</servlet-name>
    <servlet-class>com.shopping.CheckOutServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServ</servlet-name>
    <url-pattern>/CheckOutServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchedProduct</display-name>
    <servlet-name>SearchedProduct</servlet-name>
    <servlet-class>com.product.SearchedProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchedProduct</servlet-name>
    <url-pattern>/SearchedProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServ</display-name>
    <servlet-name>PaymentServ</servlet-name>
    <servlet-class>com.shopping.PaymentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServ</servlet-name>
    <url-pattern>/PaymentServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentStatus</display-name>
    <servlet-name>PaymentStatus</servlet-name>
    <servlet-class>com.shopping.PaymentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentStatus</servlet-name>
    <url-pattern>/PaymentStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductByCategory</display-name>
    <servlet-name>SearchProductByCategory</servlet-name>
    <servlet-class>com.product.SearchProductByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductByCategory</servlet-name>
    <url-pattern>/SearchProductByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoEdit</display-name>
    <servlet-name>DemoEdit</servlet-name>
    <servlet-class>com.shopping.DemoEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoEdit</servlet-name>
    <url-pattern>/DemoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoRemove</display-name>
    <servlet-name>DemoRemove</servlet-name>
    <servlet-class>com.shopping.DemoRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoRemove</servlet-name>
    <url-pattern>/DemoRemove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoAddToCart</display-name>
    <servlet-name>DemoAddToCart</servlet-name>
    <servlet-class>com.shopping.DemoAddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAddToCart</servlet-name>
    <url-pattern>/DemoAddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDemo</display-name>
    <servlet-name>EditDemo</servlet-name>
    <servlet-class>com.shopping.EditDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDemo</servlet-name>
    <url-pattern>/EditDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveDemo</display-name>
    <servlet-name>RemoveDemo</servlet-name>
    <servlet-class>com.shopping.RemoveDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDemo</servlet-name>
    <url-pattern>/RemoveDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServDemo</display-name>
    <servlet-name>CheckOutServDemo</servlet-name>
    <servlet-class>com.shopping.CheckOutServDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServDemo</servlet-name>
    <url-pattern>/CheckOutServDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartDemo</display-name>
    <servlet-name>AddToCartDemo</servlet-name>
    <servlet-class>com.shopping.AddToCartDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartDemo</servlet-name>
    <url-pattern>/AddToCartDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCustomer</display-name>
    <servlet-name>GetAllCustomer</servlet-name>
    <servlet-class>com.customer.GetAllCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCustomer</servlet-name>
    <url-pattern>/GetAllCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChnagePassword</display-name>
    <servlet-name>ChnagePassword</servlet-name>
    <servlet-class>com.customer.ChnagePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChnagePassword</servlet-name>
    <url-pattern>/ChnagePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.admin.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
</web-app>